@model IPagedList<InClassVoting.Models.Student_QuizDone>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "ReportHome";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/StudentReport.css">
<link rel="stylesheet" type="text/css" href="~/Content/PagedList.css">

<div class="container pt-20">
    <div class="head">
        <div style="display: flex; height: 40px;">
            <h1 class="h5 mg-top">Quiz Result</h1>
        </div>
    </div>
    @if (ViewBag.CountReport == 0)
    {

        <p style="text-align: center; margin-top: 10%; font-size: larger;">You have't done any quiz yet!!!</p>
    }
    else
    {
        using (Html.BeginForm("ReportHome", "Report", FormMethod.Get))
        {
            <div class="w-full">
                <div class="text-gray-600 mt-4">
                    <div class="mr-2 px-3 text-gray-700 flex">
                        <span class="h5 mr-2 my-auto">Search: </span>
                        <input class="search-box border border-black-400 w-7/12" type="text" id="searchString" name="searchText" value="@ViewBag.TextSearch" placeholder="...">
                        <button type="submit" class="search-box">
                            <i class="fad fa-search"></i>
                        </button>
                    </div>
                </div>
                <!---->
                <div class="flex my-4">
                    <div class="text-gray-700 btn-group flex  mx-3">
                        <h1 style="margin: auto; margin-right: 10px">Course: </h1>
                        <select id="ddlCourse" name="cid" onchange="this.form.submit()" class="btn-indigo mg-left ">
                            <option value="-1">All Courses </option>
                            @foreach (var course in ViewBag.CourseList)
                            {
                                if (course.CID == ViewBag.CourseSearch)
                                {

                                    <option value="@course.CID" selected>@course.Name </option>
                                }
                                else
                                {
                                    <option value="@course.CID">@course.Name </option>
                                }
                            }
                        </select>
                    </div>
                    <div class="text-gray-700 btn-group flex  mx-3">
                        <h1 style="margin: auto; margin-right: 10px">Date: </h1>
                        <select id="ddlDate" name="date" onchange="this.form.submit()" class="btn-indigo mg-left ">
                            <option value="-1">All Dates </option>
                            @foreach (var date in ViewBag.DateList)
                            {
                                if (date.ToString().Equals(ViewBag.DateSearch))
                                {
                                    <option value="@date" selected>@date.ToString("dd-MM-yyyy")</option>
                                }
                                else
                                {
                                    <option value="@date">@date.ToString("dd-MM-yyyy")</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
        }
        if (Model.Count() == 0)
        {
            <p style="text-align: center; margin-top: 10%; font-size: larger;">0 report found...</p> }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th  scope="col">No</th>
                        <th class="w-5/12" scope="col">Name</th>
                        <th class="w-3/12" cope="col">Course</th>
                        <th class="w-3/12" scope="col">Date</th>
                        <th class="w-1/12" cope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var report in Model)
                    {
                        ViewBag.ReportCount = ViewBag.ReportCount + 1;
                        <tr>
                            <th scope="row">@ViewBag.ReportCount</th>
                            <td class="w-5/12" scope="row">@report.QuizDone.Quiz_Name</td>
                            <td class="w-3/12">@report.QuizDone.Course.Name</td>
                            <td class="w-3/12">@report.QuizDone.CreatedDate.ToString("dd-MM-yyyy")</td>
                            <td class="w-1/12" ><a href="~/Student/Report/QuizReport?qzid=@report.QuizDone.QuizDoneID"><span style="color:blue"><u>View result</u></span> </a></td>
                        </tr>
                    }


                </tbody>
            </table>
            <div class="paging">
                @Html.PagedListPager(Model, i => Url.Action("ReportHome", "Report",
                                          new { i, cid = ViewBag.CourseSearch, searchText = Request.QueryString["searchText"], date = ViewBag.DateSearch }))
            </div>
        }
    }

</div>

@*<script src="~/Scripts/studentReport.js"></script>*@
