
@{
    ViewBag.Title = "ShowPollLink";
    Layout = "~/Areas/Teacher/Views/Shared/_Layout.cshtml";
}


<div class="w-full items-center bg-gray m-3 pt-24">
    @using (Html.BeginForm("StartPoll", "Poll", FormMethod.Get))
    {
        <div class="w-full items-center bg-gray mx-auto my-3">
            <div class="text-center">
                <h1 class="h3">
                    <span> @ViewBag.Poll.PollName</span>
                </h1>
            </div>
        </div>
        <div style="display: flex; align-items: center; justify-content: center;" class="mx-auto my-3 w-full">
            <h1 class="h5 my-auto">Poll link: </h1>
            <p class="linkquiz-lable mx-3">@ViewBag.PollLink</p>
            <input type="hidden" id="pollLink" value="@ViewBag.PollLink" />

            <input type="hidden" name="poid" value="@ViewBag.Poll.PollID" />
            <a class="btn btn-bs-info" onclick="copyLink()">Copy</a>
        </div>



        <!--Form poll demo-->
        <div class="border border-black-400 m-4">
            @*<div class="w-full items-center bg-gray p-6 ">
                    <div>
                        <div>
                            <span class="question-num">
                                Question:
                            </span>
                        </div>
                        <div class="w-full items-center p-6 ">
                            <div contenteditable="false" class="w-full bg-gray px-6 pt-2 pb-6 font-sans">
                                <span>  @ViewBag.Poll.Question</span>
                            </div>
                        </div>
                    </div>
                </div>*@
            <div class=" items-center bg-gray p-6 ">
                <div class="w-full items-center bg-gray px-6 pt-6">
                    <span class="question-num">
                        Question:
                    </span>
                </div>

                <div class="w-full items-center bg-gray ">
                    <div contenteditable="false" class="w-full bg-gray px-6 pt-2 pb-6 font-sans">
                        <span>  @ViewBag.Poll.Question</span>
                    </div>
                </div>
            </div>
            <div class="w-full items-center bg-gray p-6">
                @if (ViewBag.Poll.Polltype.Equals("MultipleAnswer"))
                {
                    <p class="px-6">
                        (Choose 1 or more answer)
                    </p>
                }
                else
                {
                    <p class="px-6">
                        (Choose 1 answer)
                    </p>
                }
                <table class="w-full border-spacing-2">

                    @foreach (var pollChoice in ViewBag.Poll.Poll_Answer)
                    {
                        <tr>
                            <td class="w-2">
                                @if (ViewBag.Poll.Polltype.Equals("MultipleAnswer"))
                                {
                                    <input type="checkbox" name="option">
                                }
                                else
                                {
                                    <input type="radio" class="mode-rdb2" name="option">
                                }

                            </td>
                            <td>
                                <span type="text" style="width:95%" class="w-full pl-3 " name="multipleOption">@pollChoice.Answer_Text</span>
                            </td>
                        </tr>

                    }
                </table>
            </div>
        </div>
        <div class="flex flex-col justify-center mt-10">
            <button type="submit" id="btn-start-poll" class="mx-auto btn btn-start-quiz">Start poll</button>
        </div>
    }
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        if ($('#btn-start-poll').length != 0) {
            $('#btn-start-poll').prop('disabled', true);
            $('#btn-start-poll').before('<div class="poll-ms mx-auto" style="color:brown">*Copy link before start poll</div>');
        }
    });

    function copyLink() {


        var copyText = document.getElementById("pollLink");

        copyText.select();
        navigator.clipboard.writeText(copyText.value);

        $('#btn-start-poll').prop('disabled', false);
        $('.poll-ms').remove();




    }
</script>
