
@{
    ViewBag.Title = "CreateFillBlankQuestion";
    Layout = "~/Areas/Teacher/Views/Shared/_Layout.cshtml";
}

<div class="bg-gray-100 flex-1 p-6 pt-32">
    @using (Html.BeginForm("CreateFillBlankQuestion", "Question", FormMethod.Post, new { enctype = "multipart/form-data", id = "fillblank-form" }))
    {
        <!-- Modal add lo -->
        <div class="modal fade " id="addLOModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog w-7/12" style="max-width:none">
                <div class="modal-content relative " style="max-height: 600px;">
                    <div class="modal-header">
                        <h5 class="modal-title h5" id="exampleModalLabel">Choose leaning outcome for question</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body overflow-y-scroll mb-20">
                        @if (ViewBag.LoList != null && ViewBag.LoList.Count != 0)
                        {
                            int countLo = 0;
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="w-2" scope="col">No</th>
                                        <td class="w-2" scope="col"> </td>
                                        <th class="w-4/12" scope="col">Name</th>
                                        <th class="w-8/12" scope="col">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var lo in ViewBag.LoList)
                                    {
                                        countLo++;

                                        <tr>
                                            <th scope="row">@countLo</th>
                                            <td><input type="checkbox" class="form-check-input" id="cbLOID" name="lo" value="@lo.LOID"></td>
                                            <td><label>@lo.LO_Name</label></td>
                                            <td><label>@lo.LO_Description</label></td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p style="text-align: center; font-size: medium;">There is no learning outcome to choose!!</p>
                        }

                    </div>

                    <button type="button" style="bottom:17px;right:17px;" class="btn btn-secondary w-24 absolute" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        <!-- End Modal -->

        

        <div class="grid grid-cols-1 w-full ">
            <div class="w-full items-center bg-gray">
                <div class="text-center">
                    <h1 class="h4">
                        <span>Question Type:</span>
                        <span>Fill Blank</span>

                        <input type="hidden" name="chid" value="@ViewBag.ChapterID" />
                    </h1>
                </div>
            </div>
            <div class="w-full items-center bg-gray p-6 border border-black-400">
                <div>
                    <span><b>Question:</b> </span>
                </div>
                <div class="w-full  float-left mt-3">
                    <textarea class="p-2 w-full q1-preview" name="questionText" rows="5" id="questionFill" placeholder="..."></textarea>
                </div>
            </div>

            <div class="flex md:mx-16">
                <div class="m-6  ">
                    <span class="label-mode-4">Time (second): </span>
                    <input class="border border-black-400 pl-1 w-32" min="15" step="1" max="3600"  type="number" name="time" placeholder="...">
                </div>
                <div class="m-6  ">
                    <span class="label-mode-4">Mark: </span>
                    <input class="border border-black-400 pl-1 w-32" min="0.5" step="0.5" max="10"  type="number" name="mark" placeholder="...">
                </div>
                <div class="m-6">
                    <input type="checkbox" name="givenword" id="givenFill" value="true">
                    <label for="givenword" class="label-mode-4">Given Word</label>
                </div>
            </div>

            <div class="text-center flex flex-wrap items-center justify-center column-gap inline-block m-6">
                <a href="#" class="btn btn-bs-info" style="width: fit-content;" data-bs-toggle="modal" data-bs-target="#addLOModal">
                    <span>
                        Choose learning outcome
                    </span>
                </a>
            </div>

            <div class="text-center flex flex-wrap items-center justify-center column-gap inline-block mt-4">
                <button type="button" id="previewFill" class="btn mr-6" data-bs-toggle="modal" data-bs-target="#fillPreview">
                    Preview
                </button>
                <input type="submit" class="btn btn-bs-primary w-3/12" name="submit" value="Create Question">
            </div>

        </div>
    }

    <br />
    <br />
    <div class="w-full items-center bg-gray p-6 border border-black-400">
        <h1 class="h6">Example: Fill Blank With Given Words</h1>
        <div class="flex md:mx-16">
            <div class="m-6">
                <input type="checkbox" name="givenword" value="true" checked disabled>
                <label for="givenword">Given Word</label>
            </div>
        </div>

        <p style="color:blue">
            Put the given words inside the round bracket, and place the "~" character in front of each question.
            The right answer should have the "=" character stand in front of it.
        </p>

        A single waterproof hat with a brim will do the <span style="background-color:lemonchiffon">(~job~task</span> <span style="background-color:lightgreen">~=role</span> <span style="background-color:lemonchiffon">~duty)</span>
        adequately in most conditions

    </div>


    <br />
    <br />
    <div class="w-full items-center bg-gray p-6 border border-black-400">
        <h1 class="h6">Example: Fill Blank Without Given Words</h1>
        <div class="flex md:mx-16">
            <div class="m-6">
                <input type="checkbox" name="givenword" value="true" disabled>
                <label for="givenword">Given Word</label>
            </div>
        </div>

        <p style="color:blue">
            Put the answer inside the round bracket.
        </p>

        A single waterproof hat with a brim will do the <span style="background-color:lightgreen">(role)</span> adequately in most conditions

    </div>

    <!--Thêm Dialog Paper Preview-->
    <div class="modal fade" id="fillPreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog w-9/12" style="max-width:none" role="document">
            <div class="modal-content " style="max-height: 600px;overflow-y:scroll">
                <div class="">
                    <button type="button" class="close float-right p-3" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="text-center h5" id="exampleModalLabel">Preview</h5>
                </div>
                <div id="multiple-test" class="p-5">
                    <div class="w-full items-center bg-gray  ">
                        <div>
                            <div contenteditable="false" id="questionFill-preview" class="w-full bg-gray p-6 q2-preview" readonly>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>*@
@*<script src="~/Scripts/validate.js"></script>*@