@model IPagedList<InClassVoting.Models.Question>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "QuizStarted";
    Layout = "~/Areas/Teacher/Views/Shared/_QuizLibraryLayout.cshtml";

}




<div class="bg-gray-100 flex-1 p-6 md:mt-16">
    <!-- start navbar -->
    <div style=" height: 70px; border-bottom: solid;">
        <div style="display: flex">

            <h5 class="modal-title h5" id="exampleModalLabel">Student are doing this quiz..</h5>
        </div>
        <div style="display: flex; margin-bottom:10px">
            <span class="quiz-lable-3" size="3" style="margin-right:10px">Time left: </span>
            <span class="quiz-lable-3" size="3" type="text" id="time" name="create-question-time" placeholder="Time" data-time="@ViewBag.CountDown">00:00</span>
        </div>
    </div>

    <div class="flex my-3">
        <h1 class="h6">@ViewBag.Quiz.QuizName  </h1>
    </div>

    <div>
        <div class="flex my-3">
            <h1 class="quiz-lable">Quiz Mode: </h1>
            @if (ViewBag.Quiz.QuizType.Equals("ShowAllQuestion"))
            {
                <input onclick="changeLinkpQuiz()" id="papeQuiz" class="mode-rdb" name="rdPreview" type="radio" value="1" checked disabled />
                <h4 class="label-mode-content-3">Show all question</h4>
                <input onclick="changeLinkqQuiz()" id="qQuiz" class="mode-rdb" name="rdPreview" type="radio" value="0" disabled />
                <h4 class="label-mode-content-3"> Show question by question</h4>
            }
            else
            {
                <input onclick="changeLinkpQuiz()" id="papeQuiz" class="mode-rdb" name="rdPreview" type="radio" value="1" disabled />
                <h4 class="label-mode-content-3">Show all question</h4>
                <input onclick="changeLinkqQuiz()" id="qQuiz" class="mode-rdb" name="rdPreview" type="radio" value="0" checked disabled />
                <h4 class="label-mode-content-3"> Show question by question</h4>
            }

        </div>
    </div>
    <div style="display:flex">
        <div class="flex my-3">
            <h1 style="margin: auto" class="quiz-lable2">Quiz link: </h1>
            <p class="linkquiz-lable" style="margin: auto; margin-left: 10px;" id="linkQ">@ViewBag.QuizLink</p>
            <input type="hidden" id="quizLink" value="@ViewBag.QuizLink" />
            <a style="background-color:aquamarine;margin-left:20px;margin-right:10px" class="btn " onclick="copyLink()">Copy</a>
        </div>

    </div>
    <div class="flex my-3">
        <div style="display:flex ">
            <h1 class="my-auto font-bold">Number of question: </h1>&nbsp;
            <h4 class=" my-auto mr-10">@ViewBag.Quiz.NumOfQuestion</h4>
            <h1 class="my-auto font-bold">Total mark: </h1>&nbsp;
            <h4 class=" my-auto mr-10">@ViewBag.Quiz.Mark</h4>
            <h1 class="my-auto font-bold">Total time: </h1>&nbsp;
            @{
                int? time = ViewBag.Quiz.Time;
                string second = "00";
                string minute = "00";
                if ((time % 60) != 0)
                {
                    if (time % 60 < 10)
                    {
                        second = "0" + (time % 60);
                    }
                    else
                    {
                        second = (time % 60).ToString();
                    }
                }
                if ((time / 60) != 0)
                {
                    if (time / 60 < 10)
                    {
                        minute = "0" + (time / 60);
                    }
                    else
                    {
                        minute = (time / 60).ToString();
                    }
                }
                string timeDisplay = minute + ":" + second;
            }
            <h4 class=" my-auto mr-2">@timeDisplay</h4>
        </div>
    </div>
    <div class="tb-mg-top border-bt">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th class="w-6/12" scope="col">Question</th>
                    <th class="w-2/12" scope="col">Quype</th>
                    <th class="w-2/12" scope="col">Mark</th>
                    <th class="w-4/12" scope="col" style="min-width:180px">Learning outcome</th>
                    @* <td scope="col"> </td>*@

                </tr>
            </thead>
            <tbody>
                @if (Model.Count() != 0)
                {

                    foreach (var question in Model)
                    {
                        ViewBag.QuestionNo = ViewBag.QuestionNo + 1;
                        <tr>
                            <th scope="row"> @ViewBag.QuestionNo</th>
                            <td>
                                @*<a href="#" type="button">@question.Text </a>*@
                                @if (question.Text != null && !question.Text.Equals(""))
                                {
                                    <a href="#" type="button" class="text_overflow-3">@question.Text </a>
                                }
                                @if (question.ImageData != null)
                                {
                                    var base64 = Convert.ToBase64String(question.ImageData);
                                    var imgSrc = string.Format("data:image/png;base64,{0}", base64);
                                    <a href="~/Teacher/Question/EditQuestion?qid=@question.QID&&qtype=@question.Qtype" type="button">
                                        <img src="@imgSrc" alt="pic" class="img-fix" />
                                    </a>
                                }
                            </td>
                            <td>
                                @if (question.Qtype == 5)
                                {
                                    <span>Matching</span> }
                                else
                                {
                                    @question.QuestionType.Name}
                            </td>
                            <td>
                                @question.Mark
                            </td> @{
                                string loList = "";
                                foreach (var ql in ViewBag.LoList)
                                {
                                    if (ql.QuestionID == question.QID && ql.Qtype == question.Qtype)
                                    {
                                        string loName = "";
                                        if (ql.LearningOutcome.LO_Name.Length > 10)
                                        {
                                            loName = ql.LearningOutcome.LO_Name.Substring(0, 9) + "...";
                                        }
                                        else
                                        {
                                            loName = ql.LearningOutcome.LO_Name;
                                        }
                                        loList = loList + loName + ", ";
                                    }
                                }
                                if (loList != "")
                                {
                                    loList = loList.Substring(0, loList.Length - 2);
                                }
                            }

                            <td style="min-width:180px">@loList </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
        <div class="paging">
            @Html.PagedListPager(Model, i => Url.Action("QuizStarted", "Quiz", new { i, qzID = ViewBag.Quiz.QuizID }))
        </div>
    </div>
    <div class="border-bt relative">
        <h1 class="quiz-lable">Quiz attributes</h1>
        <div style="display: flex; margin-top: 20px">
            <div style="display:flex">
                @if (ViewBag.Shuffle == 1)
                {
                    <input type="checkbox" onchange="saveChanges()" name="cbMixQuestions" class="form-check-input" id="cbMixQuestions" value="1" checked disabled />
                }
                else
                {
                    <input type="checkbox" onchange="saveChanges()" name="cbMixQuestions" class="form-check-input" id="cbMixQuestions" value="1" disabled />
                }
                <h4 class="label-mode">Shuffle question</h4>
            </div>
        </div>

        @if (ViewBag.RandomQuestionNum == null)
        {
            <div class="mb-8">
                <div class="mt-8">
                    <div class="flex">
                        <input onchange="isCheckedMixQ()" type="checkbox" name="cbRandomQuestion" class="form-check-input" id="rdQuestion" value="1" disabled />
                        <input type="hidden" name="cbRandomQuestion" value="0" />
                        <h4 class="label-mode">Randomize question for each student</h4>
                    </div>
                    <div>
                        <div id="rdQuestionNum" style="display:none" class="div-rd-question">
                            <div style="display:flex">
                                <h4 class="label-mode-content-2">Number of random question :</h4>
                                <span>
                                    <input name="rdQuestionNum" type="number" min="1" max="@ViewBag.CountQuest" />
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="mb-8">
                <div class="mt-8">
                    <div class="flex">
                        <input onchange="isCheckedMixQ()" type="checkbox" name="cbRandomQuestion" class="form-check-input" id="rdQuestion" value="1" checked disabled />
                        <input type="hidden" name="cbRandomQuestion" value="0" />
                        <h4 class="label-mode">Randomize question for each student</h4>
                    </div>
                    <div>
                        <div id="rdQuestionNum" style="display:block" class="div-rd-question">
                            <div style="display:flex">
                                <h4 class="label-mode-content-2">Number of random question :</h4>
                                <span>
                                    <input name="rdQuestionNum" onclick="saveChanges()" type="number" min="1" max="@ViewBag.CountQuest" value="@ViewBag.RandomQuestionNum" disabled />
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="absolute" style="top:26px; left:350px">
            <h4 style="margin-top: 20px" class="label-mode-4">Show to students after quiz </h4>
            <div style="margin-top: 10px;margin-bottom:20px;">
                <div class="div-mode">
                    @if (ViewBag.PublishMark == 1)
                    {
                        <input id="checkBoxMask" onchange="saveChanges()" class="mode-rdb2" value="1" type="checkbox" name="cbPublishMark" checked disabled />
                    }
                    else
                    {
                        <input id="checkBoxMask" onchange="saveChanges()" class="mode-rdb2" value="1" type="checkbox" name="cbPublishMark" disabled />
                    }


                    <h4 class="label-mode-content-2">Mark</h4>
                    @if (ViewBag.PublicAnswer == 1)
                    {
                        <input onchange="checkMask()" id="checkBoxRight" class="mode-rdb2" type="checkbox" name="cbPublishAnswer" value="1" checked disabled />
                    }
                    else
                    {
                        <input onchange="checkMask()" id="checkBoxRight" class="mode-rdb2" type="checkbox" name="cbPublishAnswer" value="1" disabled />
                    }
                    <h4 class="label-mode-content-2">Questions and answers</h4>
                </div>
            </div>
        </div>
    </div>

    <div style="display: flex; margin-top:15px">
        @using (Html.BeginForm("FinishQuiz", "Quiz", FormMethod.Post, new { id = "formEndQuiz" }))
        {
            <input type="hidden" name="qzid" value="@ViewBag.Quiz.QuizID" />
            <button type="submit" style="background-color: aquamarine; margin-left:10px " class="btn ">End quiz</button>
        }
    </div>
</div>

<script src="~/Scripts/teacher.quiz.countdown.js"></script>
